.nav-sign-up {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 5rem;
  padding: 1rem 3rem;
  width: 100%;
}
.about-us-link {
  color: var(--color3);
  text-decoration: none;
}

.nav-sign-up-btn {
  border: 2px solid rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 0.5em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.8);
  line-height: 3em;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: var(--color1);
  padding: 0 1em;
}

.logo-img {
  width: 160px;
  height: 50px;
  object-fit: cover;
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .nav-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 3rem;
    padding: 1rem 3rem;
    width: 100%;
  }
  .nav-sign-up-btn {
    margin-top: 1rem;
  }
  .logo-img {
    width: 160px;
    height: 50px;
    object-fit: cover;
    margin-top: 0.5rem;
  }
}
